@font-face {
    font-family:'MinhaFontePersonalizada';
    src: url(Mokoto\ Demo.ttf) format(truetype);
}

button {
    background-color: rgb(116, 0, 224);
    color: white;
    height: 40px;
    cursor: pointer;
    width: 27%;

}

button:hover{
    background-color: #9c27b0;
    height: 50px;
    transition: 0.5s;
}

button:active{
    background-color: #db38f8;
}

h1 {
    font-size: 60px;
    color: #9c27b0;
    text-align: center;
    background-color: black;
}

body{
    background-image: url(matrix-code.gif);
    margin: 0 auto;
    max-width: 600px;
    font-family:'MinhaFontePersonalizada', sans-serif; 
}

input{
    height: 40px;
    border: 2px solid #9c27b0;
    background-color: #333;
    color: #eee;
    outline: red;
    width: 70%;
}

li{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;

}

ul{
    list-style-type: none;
    padding: 0px;

}

span{
    cursor: pointer;
}
